In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
auctions = pd.read_csv('auctions.csv.gzip', compression = 'gzip')
clicks = pd.read_csv('clicks.csv.gzip', compression = 'gzip')
events = pd.read_csv('events.csv.gzip', compression = 'gzip')
installs = pd.read_csv('installs.csv.gzip', compression = 'gzip')
target_competencia = pd.read_csv('target_competencia.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (12,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Tarda aproximadamente 3 minutos en levantar. 3,6 GB en RAM.

In [3]:
auctions.head()

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [4]:
auctions['auction_type_id'].count()

0

In [5]:
del(auctions['auction_type_id'])

In [6]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19571319 entries, 0 to 19571318
Data columns (total 6 columns):
country        int64
date           object
device_id      int64
platform       int64
ref_type_id    int64
source_id      int64
dtypes: int64(5), object(1)
memory usage: 895.9+ MB

In [7]:
auctions['date'] = pd.to_datetime(auctions['date'])

In [8]:
auctions['country'] = auctions['country'].astype('category')
auctions['platform'] = auctions['platform'].astype('category')
auctions['device_id'] = auctions['device_id'].astype('category')
auctions['ref_type_id'] = auctions['ref_type_id'].astype('category')
auctions['source_id'] = auctions['source_id'].astype('category')

In [9]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19571319 entries, 0 to 19571318
Data columns (total 6 columns):
country        category
date           datetime64[ns]
device_id      category
platform       category
ref_type_id    category
source_id      category
dtypes: category(5), datetime64[ns](1)
memory usage: 310.2 MB