In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
auctions = pd.read_csv('auctions.csv.gzip', compression = 'gzip')
clicks = pd.read_csv('clicks.csv.gzip', compression = 'gzip')
events = pd.read_csv('events.csv.gzip', compression = 'gzip')
installs = pd.read_csv('installs.csv.gzip', compression = 'gzip')
target_competencia = pd.read_csv('target_competencia.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (12,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Tarda aproximadamente 3 minutos en levantar. 3,6 GB en RAM.

In [3]:
auctions.head()

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [4]:
auctions['auction_type_id'].count()

0

In [5]:
del(auctions['auction_type_id'])

In [6]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19571319 entries, 0 to 19571318
Data columns (total 6 columns):
country        int64
date           object
device_id      int64
platform       int64
ref_type_id    int64
source_id      int64
dtypes: int64(5), object(1)
memory usage: 895.9+ MB

In [7]:
auctions['date'] = pd.to_datetime(auctions['date'])

In [8]:
auctions['country'] = auctions['country'].astype('category')
auctions['platform'] = auctions['platform'].astype('category')
auctions['device_id'] = auctions['device_id'].astype('category')
auctions['ref_type_id'] = auctions['ref_type_id'].astype('category')
auctions['source_id'] = auctions['source_id'].astype('category')

In [9]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19571319 entries, 0 to 19571318
Data columns (total 6 columns):
country        category
date           datetime64[ns]
device_id      category
platform       category
ref_type_id    category
source_id      category
dtypes: category(5), datetime64[ns](1)
memory usage: 310.2 MB

In [10]:
clicks.head()

,advertiser_id,action_id,source_id,created,country_code,latitude,longitude,wifi_connection,carrier_id,trans_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,1.0,iGgClCM9exiHF4K31g94XmvHEBSLKIY,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,1.563,0.905,0.078,1891515180541284343,1904083516767779093
1,0,NaN,0,2019-03-08T10:24:30.641Z,6333597102633388268,1.218924,1.071209,False,4.0,MMHTOJ6qKAOeIH_Eywh1KIcCaxtO9oM,3.025219e+18,NaN,1.774085e+18,392184377613098015,NaN,NaN,NaN,NaN,1891515180541284343,3086509764961796666
2,0,NaN,0,2019-03-08T15:24:16.069Z,6333597102633388268,1.205689,1.070234,False,6.0,vIrEIdf9izUaWdAri6Ezk7T3nHFvNQU,5.975656e+18,NaN,3.072849e+18,392184377613098015,NaN,NaN,0.946,0.473,1891515180541284343,6958163894863846647
3,2,NaN,3,2019-03-06T03:08:51.543Z,6333597102633388268,1.205689,1.070234,False,45.0,YaKxxEAs2UmZhSpRfiCO9Zpa82B_AKM,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,19.013,0.035,0.431,1891515180541284343,4368617728156436525
4,2,NaN,3,2019-03-06T03:32:55.570Z,6333597102633388268,1.205689,1.070234,False,45.0,X5XTOcYQovkl6yadYdAD7xioVGU9jiY,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,28.110,0.054,0.423,1891515180541284343,4368617728156436525

In [14]:
print(clicks['action_id'].count())
print(clicks['agent_device'].count())
print(clicks['brand'].count())

0
3243
6235

In [15]:
del(clicks['action_id'])

In [16]:
clicks['created'] = pd.to_datetime(clicks['created'])

In [17]:
clicks.specs_brand.unique()

array([2733035977666442898,  392184377613098015, 8930605132947907029,
       3855167788531275156, 5675295985273558497], dtype=int64)

In [20]:
clicks.ref_type.unique()

array([1891515180541284343, 1494519392962156891, 5016171802147987303,
       6323871695571587575], dtype=int64)

In [26]:
for col in ['advertiser_id', 'source_id', 'country_code', 'latitude', 'longitude', 'wifi_connection', 'carrier_id', 'os_minor', 'os_major', 'specs_brand', 'ref_type']:
    clicks[col] = clicks[col].astype('category')

In [27]:
clicks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26351 entries, 0 to 26350
Data columns (total 19 columns):
advertiser_id      26351 non-null category
source_id          26351 non-null category
created            26351 non-null datetime64[ns]
country_code       26351 non-null category
latitude           26351 non-null category
longitude          26351 non-null category
wifi_connection    26351 non-null category
carrier_id         26340 non-null category
trans_id           26351 non-null object
os_minor           26339 non-null category
agent_device       3243 non-null float64
os_major           26339 non-null category
specs_brand        26351 non-null category
brand              6235 non-null float64
timeToClick        22977 non-null float64
touchX             23011 non-null float64
touchY             23011 non-null float64
ref_type           26351 non-null category
ref_hash           26351 non-null int64
dtypes: category(11), datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 1.9+ MB